.button-reset {
    background: none repeat scroll 0 0 transparent;
    border: medium none;
    border-spacing: 0;
    font-family: "PT Sans Narrow", sans-serif;
    font-weight: normal;
    list-style: none outside none;
    margin: 0;
    padding: 0;
    text-align: left;
    text-decoration: none;
    text-indent: 0;
}

body {
    margin: 0;
}

.fields {
    flex: 1;
}

.field-group {
    display: block;
    font-size: 16px;
    margin: 20px 0;
}

.mdc-text-field {
    width: 100%;
}

.inp-file {
    display: none;
}

.toolbar {
    height: 75px;
    left: 0;
    position: fixed;
    top: 0;
    width: 100vw;
    z-index: 10;
}

.toolbar-inner {
    display: flex;
    height: 100%;
    align-items: center;
    padding-left: 20px;
    background-color: #fff;
}

.toolbar::after {
    position: absolute;
    content: "";
    display: block;
    height: 10px;
    width: 100vw;
    background: rgb(0, 0, 0);
    background: linear-gradient(
        180deg,
        rgba(0, 0, 0, 0.1) 0%,
        rgba(0, 0, 0, 0) 100%
    );
    bottom: -10px;
}

.folders-outer {
    display: block;
    overflow: hidden;
    height: 100vh;
    width: 100vw;
    background-color: #f0f0f0;
}

.folders-container {
    display: flex;
    transition: transform 0.5s;
}

.mdc-dialog .mdc-dialog__surface {
    min-width: 420px;
    padding: 20px;
}

/*
FOLDERS
*/
.folder {
    display: inline-flex;
    height: 100vh;
    flex-wrap: wrap;
    width: 100vw;
    align-content: center;
    justify-content: center;
    flex: 0 0 100%;
}

/*
BOOKMARKS
*/
.bookmark {
    display: inline-block;
    padding: 25px 15px 0;
    position: relative;
    width: 115px;
}

.bookmark-link {
    align-items: center;
    display: flex;
    flex-direction: column;
    text-decoration: none;
}

.bookmark-image-container {
    align-items: center;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.1);
    color: #f6a001;
    display: flex;
    font-size: 50px;
    height: 85px;
    justify-content: center;
    padding: 0px;
    transition: all 0.05s;
    width: 85px;
}

.bookmark:hover .bookmark-image-container {
    /* transform: perspective(400px) rotateY(35deg); */
    transform: perspective(400px) rotateY(20deg) scale(1.05);
    box-shadow: 2px 0 5px 3px rgba(0, 0, 0, 0.08);
}

.bookmark-image {
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    display: block;
    height: 100%;
    margin: 7px;
    width: 100%;
}

.bookmark-title-container {
    padding-top: 10px;
    padding-bottom: 10px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    max-width: 100%;
}

.bookmark-edit {
    position: absolute;
    top: 0px;
    right: 30px;
    font-size: 18px;
    display: none;
    color: #aaa;
    cursor: pointer;
}

.bookmark-edit:hover {
    color: #000;
}

.bookmark:hover .bookmark-edit {
    display: block;
}

/*
NAVIGATION
*/
.navigation-outer {
    bottom: 0;
    left: 0;
    position: fixed;
    width: 100%;
}

.navigation-container {
    display: flex;
    justify-content: center;
    padding: 20px 0;
}

.navigation-item-inner {
    background-color: #ccc;
    border-radius: 50%;
    height: 10px;
    margin: 5px;
    width: 10px;
}

.navigation-item {
    background: none repeat scroll 0 0 transparent;
    border-spacing: 0;
    border: none;
    cursor: pointer;
    line-height: 0;
    margin: 5px;
    padding: 0;
}
